{% extends 'layout.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
<div class="container">
    <div class="card mt-5">
        <div class="card-header bg-primary text-white">
            <h1 class="display-6 mb-0">Profile</h1>
        </div>
        <div class="card-body">
            <h4 class="mb-4">Profile Details</h4>
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Username:</strong> {{ user.username }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Email ID:</strong> {{ user.email_id }}</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <p><strong>Bio:</strong> {{ profile.bio }}</p>
                </div>
            </div>
            
            {% if role_id == 3 %}
                <div class="row mb-3">
                    <div class="col-md-6">
                        <p><strong>Name:</strong> {{ profile.name }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Niche:</strong> {{ profile.niche }}</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <p><strong>Followers:</strong> {{ profile.followers }}</p>
                    </div>
                </div>
            {% elif role_id == 2 %}
                <div class="row mb-3">
                    <div class="col-md-6">
                        <p><strong>Company Name:</strong> {{ profile.company_name }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Budget:</strong> {{ profile.budget | default(0) | float| round(2) }}</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <p><strong>Industry:</strong> {{ profile.industry }}</p>
                    </div>
                </div>
            {% endif %}
            
            <div class="d-flex justify-content-between mt-4">
                {% if user.id==session.user_id %}
                    <a href="{{ url_for('update_profile') }}" class="btn btn-primary">
                        <i class="fas fa-edit"></i> Update Profile
                    </a>
                {% endif %}

                {% if session.role_id == 1 %}
                    <form action="{{ url_for('flag_user', user_id=user.id) }}" method="POST">
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-flag"></i> Flag User
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
