{% extends 'layout.html' %}

{% block title %}
    Update Profile
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-4 mb-4">Update Profile</h1>
    
    <form action="{{ url_for('update_profile') }}" method="POST" class="form">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" value="{{ user.username }}" required class="form-control">
        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">Email ID</label>
            <input type="email" id="email" name="email" value="{{ user.email_id }}" required class="form-control">
        </div>


        <div class="mb-3">
            <label for="bio" class="form-label">Bio</label>
            <textarea id="bio" name="bio" class="form-control">{{ profile.bio }}</textarea>
        </div>

        {% if role_id == 3 %}
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" name="name" value="{{ profile.name }}" required class="form-control">
            </div>
            <div class="mb-3">
                <label for="niche" class="form-label">Niche</label>
                <input type="text" id="niche" name="niche" value="{{ profile.niche }}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="followers" class="form-label">Followers</label>
                <input type="number" id="followers" name="followers" value="{{ profile.followers }}" class="form-control">
            </div>

        {% elif role_id == 2 %}
            <div class="mb-3">
                <label for="company_name" class="form-label">Company Name</label>
                <input type="text" id="company_name" name="company_name" value="{{ profile.company_name }}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="budget" class="form-label">Budget</label>
                <input type="number" step="0.01" id="budget" name="budget" value="{{ profile.budget }}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="industry" class="form-label">Industry</label>
                <input type="text" id="industry" name="industry" value="{{ profile.industry }}" class="form-control">
            </div>
        {% endif %}

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
{% endblock %}
